<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--PIZZA ICON ~ SHOWING AS ICON -->
    <link rel="icon" href="images/pizza.png">
    <!-- STYLESHEET LINK - indicated by href -->
    <link rel="stylesheet" href="styles/styles.css">
    <!-- link to JavaScript--> 
     <!-- the defer shows on top of the page when u submit -->
    <script src="js/pizza.js" defer></script>
</head>
<body>
    <main>
    <header>
        <img src="images/pizzaguy.png" alt="Pizza Guy Image">
    <h1>BIG PURR PIZZA</h1>
    <P id="tagline">I love big purr pizza, cuz why not</P>
    <!-- HR Is for forming the line -->
    <hr> 
    </header>

        <h1> Admin Page</h1>
      

    </main>
</body>
</body>
</body>
</html>



!